<template>
  <div id="carousel">
    <div id="img" v-for="(color, index) in sliders" :key="color">
      <transition name="fade">
        <div id="fade" v-if="currentSlide == index" :class="color"></div>
      </transition>
    </div>
    <div id="dot">
      <div id="full">
        <div
          id="slide"
          v-for="(slider, index) in sliders"
          :key="slider"
          @click="makeActive(index)"
          :class="currentSlide == index ? 'gray-bold' : 'gray'"
        ></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      currentSlide: 1,
      sliders: ["red", "blue", "yellow"],
      interval: "",
      isTitleShowing: true,
    };
  },
  methods: {
    makeActive(index) {
      this.currentSlide = index;
    },
  },
  mounted() {
    this.interval = setInterval(() => {
      this.currentSlide = this.currentSlide === 2 ? 0 : this.currentSlide + 1;
    }, 2000);
  },
  beforeUnmount() {
    clearInterval(this.interval);
  },
};
</script>

<style scoped>
#carousel {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}
#img {
  position: absolute;
  width: 100%;
}
#fade {
  height: 350px;
}
.red {
  background-color: rgba(220, 38, 38, 1);
}
.yellow {
  background-color: rgba(217, 119, 6, 1);
}
.blue {
  background-color: rgba(37, 99, 235, 1);
}
#dot {
  width: 100%;
  height: 340px;
}
#full {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
}
#slide {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: 9999px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.gray-bold {
  background-color: rgba(55, 65, 81, 1);
}
.gray {
  background-color: rgba(209, 213, 219, 1);
}
.fade-enter-active,
.fade-leave-active {
  transition: all 1s ease;
}
.fade-enter-from {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-leave-to {
  opacity: 0;
  transform: translateX(100%);
}
</style>